@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1588722114951'); /* IE9 */
  src: url('iconfont.eot?t=1588722114951#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALoAAsAAAAABqAAAAKZAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBLIE2ATYCJAMICwYABCAFhG0HLhvaBcgOJU0DhQTAAApFBJTdfz27+wGdHJoRwEiVOyWiuwhELDi9t/9rmhIYkefLsopgU+gP8g84l5FEoefmpwCNmgYWpv9zOb1rAAUyP1AuYwxaY1AvoF4cSAGNtenICiXwhrELXMJpArLV05DpO9vcgbKENSkgzHYsDco5u0TCQpmC9JqVibBGmsxoaXQVWB1+P3zRC2UiaTErY8isqQmD95l2RLwktcQEH+EgQOvTEKMNkBBG1PoHyQmMlJPtz2sE9pUaeF9OpXydsFe1wP46KzkX1ELOPXFd3q2GIritjjoBA0dhSeg0/zLcvz/q7t0RS8q2HWLLrXY5L3fqh6vb7bPfHoy+d2/khv79H2/WVsbCko3LN4fQ1vvkSMde13kF8dYnd7bFNtO/Id5akLfldYOd+d9fzrv9v3Znwbdf8+L1Z0+sDPA3nDsebZhG+7Uu2Fn7/3aH4fVUZao+/P97/s4Grw0AUlfiC3F3GQT2DU+7Ormg67/MnAQ8fq++ElpTVxL9jCDzdIbAb+P2rEt0vqWNEpVb2xzpdDsl2bKRgs3Ffscqyu4xHGQqG2HMUJdCLFMTNCG2gTQ52kK6TD0gW2vz9TlKsJyQZKGVCwBBoRuI5LsIsUKvaEL8gTTl1pCuMOQg26hQsmOOZsGp9mHShEzUj9ExolA5eqlGqVtk7fsaZ/kheY84dVzYbXWKoTmFxHPMSQ+snohCxVGAM3Ae+X6EMUcuGdKyReJ+u63qMGoZUQBVfTCiEcSEdMeQwxAJKb+1qJY+v4VY9vk03FJTY9xDWMrpHnW1dHqgc0nYq+Ze3kkdsPQIoSCFRQJoBoYRny+C4vphLmIQLfYIb6yvbTdSfSWt9WXB122DbJYyCnZuLJnJrgMAAAAA') format('woff2'),
  url('iconfont.woff?t=1588722114951') format('woff'),
  url('iconfont.ttf?t=1588722114951') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1588722114951#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-erji:before {
  content: "\e608";
}

