
*{
    margin: 0;
    padding: 0;
}
.carousel-box{
    position: relative;
    width: 600px;
    height: 342px;
    margin: auto;
    top: 150px;
    font-size: 14px;
    /* box-shadow: 10px 10px #ddd; */
    overflow: hidden;
}
.carousel-box .list{
    position: absolute;
    left: -600px;
    width: 4200px;
    height: 298px;
}
.carousel-box .list .picture{
    width: 600px;
    height: 298px;;
    float: left;
}
.carousel-box .buttons{
    position: absolute;
    width: 600px;
    height: 44px;
    top: 298px;
    color: #b1b2be;
}
.carousel-box .buttons .btn{
    width: 120px;
    height: 44px;
    float: left;
    text-align: center;
    cursor: pointer;
    line-height: 44px;
    text-align: center;
    background-color: #332f38;
}
.carousel-box .buttons .btn:hover{
    color: #e9c65a;
    background-color: #504b54;
}
.on{
    color: #e9c65a;
    background-color: #504b54;
}
.carousel-box a{
    font-size: 50px;
    color: #888888;
    z-index: 2;
    position: absolute;
    text-decoration: none;
    top: 40%;
}
.carousel-box .back{
    left: 20px;
}
.carousel-box .next{
    right: 20px;
}
.carousel-box .switch{
    display: none;
}
.carousel-box:hover .switch{
    display: block;
}
.carousel-box .switch:hover{
    font-weight: 900;
    color: #ea00ff;
}
